body {
    font-family: Arial;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

a {
    margin-right: 10px;
    text-decoration: none;
}

form input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 250px;
}
